{{define "sso-warning.tmpl"}}
        <h2>Logout</h2>
        <p>This application uses centralized log in, which provides single sign on for several applications.</p>
        <p>To be sure your log out is 100% secure you should close your browser completely.</p>

        <a href="https://support.surfconext.nl/help-logout-en">More information about secure log out</a>
{{end}}
